
  <div id="logo">
    <%= link_to "Home" ,questions_path(Question.all) %>
  </div>
  <div id="hmenu">
   <ul id="navmenu">
    <li><%= link_to "questions", questions_path %></li>
    <li><%= link_to "users", users_path %></li>
    <li><%= link_to "ask question", new_question_path %></li>
  </ul>
 </div>
